Repository readmeio/api-explorer, pull requests merged in 2020-07, with the labels that each got.

#809 test: loading in our new decoupled jest-expect-har package
  packages/oas-to-har/__tests__/index.test.js
  packages/oas-to-har/package-lock.json
  packages/oas-to-har/package.json
Labels: scope:dependency, type:refactor

#808 fix(markdown): add missing compilers
  packages/markdown/__tests__/__snapshots__/flavored-compilers.test.js.snap
  packages/markdown/__tests__/flavored-compilers.test.js
  packages/markdown/index.js
  packages/markdown/package.json
  packages/markdown/processor/compile/figure.js
  packages/markdown/processor/compile/index.js
  packages/markdown/processor/compile/pin.js
  packages/markdown/processor/compile/table-head.js
  packages/markdown/processor/parse/index.js
Labels: area:markdown, type:bug

#817 feat: adding support for cookie auth
  example/swagger-files/auth-types.json
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/oas-to-har/__tests__/index.test.js
  packages/oas-to-har/package-lock.json
  packages/oas-to-har/package.json
  packages/oas-to-har/src/lib/configure-security.js
Labels: area:explorer, type:enhancement

#812 feat: decoupling OAS code snippet generation into a standalone package
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/api-explorer/src/CodeSample.jsx
  packages/oas-to-snippet/.eslintignore
  packages/oas-to-snippet/.eslintrc
  packages/oas-to-snippet/.npmignore
  packages/oas-to-snippet/.prettierignore
  packages/oas-to-snippet/LICENSE
  packages/oas-to-snippet/README.md
  packages/oas-to-snippet/__tests__/.eslintrc
  packages/oas-to-snippet/__tests__/index.test.js
  packages/oas-to-snippet/jest.config.js
  packages/oas-to-snippet/package-lock.json
  packages/oas-to-snippet/package.json
  packages/oas-to-snippet/src/index.js
Labels: area:explorer, type:refactor

#819 fix: decouple react highlight from code snippets
  packages/api-explorer/__tests__/CodeSample.test.jsx
  packages/api-explorer/src/CodeSample.jsx
  packages/oas-to-snippet/README.md
  packages/oas-to-snippet/__tests__/index.test.js
  packages/oas-to-snippet/jest.config.js
  packages/oas-to-snippet/package-lock.json
  packages/oas-to-snippet/src/index.js
Labels: type:enhancement

#821 chore(snippet): exporting supported langs
  packages/oas-to-snippet/src/index.js
Labels: type:enhancement

#822 ci: setting up codeql
  .github/codeql/config.yml
  .github/workflows/codeql-analysis.yml
Labels: exploration

#824 chore(deps): upgrading httpsnippet-client-api to 2.1.6
  packages/oas-to-snippet/package-lock.json
  packages/oas-to-snippet/package.json
Labels: area:explorer, scope:dependency

#825 docs: make cookie example better
  example/swagger-files/auth-types.json
Labels: area:explorer, type:enhancement

#834 chore(deps): upgrading @readme/oas-tooling to 3.5.2
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/oas-to-har/package-lock.json
  packages/oas-to-har/package.json
  packages/oas-to-snippet/package-lock.json
  packages/oas-to-snippet/package.json
Labels: area:explorer, scope:dependency, type:bug

#826 style(rdmd): fix link text-decoration
  packages/markdown/styles/gfm.scss
Labels: area:markdown, type:bug, type:styling

#835 feat: adding support for highlighting diffs
  packages/syntax-highlighter/__tests__/__fixtures__/diff/index.js
  packages/syntax-highlighter/__tests__/__fixtures__/diff/sample.diff
  packages/syntax-highlighter/__tests__/__snapshots__/index.test.js.snap
  packages/syntax-highlighter/codemirror.jsx
  packages/syntax-highlighter/modes.js
  packages/syntax-highlighter/uppercase.js
Labels: area:highlighting, type:enhancement

#833 style(logs): match null state to logged-out designs
  packages/api-logs/index.jsx
  packages/api-logs/main.css
Labels: area:explorer, type:styling

#838 fix: improper handling of application/x-www-form-urlencoded payloads
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
Labels: area:explorer, scope:dependency, type:bug

#846 feat: adding support for handling `default` responses
  example/swagger-files/examples.json
  packages/api-explorer/__tests__/ExampleTabs.test.jsx
  packages/api-explorer/__tests__/ResponseExample.test.jsx
  packages/api-explorer/__tests__/ResponseSchema.test.jsx
  packages/api-explorer/__tests__/__fixtures__/example-results/oas.json
  packages/api-explorer/__tests__/__fixtures__/petstore/oas.json
  packages/api-explorer/__tests__/lib/create-code-shower.test.js
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/api-explorer/src/IconStatus.jsx
  packages/api-explorer/src/ResponseSchema.jsx
Labels: area:explorer, type:enhancement

#847 fix: adding support for handling requestBody if its in a $ref
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/oas-to-har/__tests__/index.test.js
  packages/oas-to-har/package-lock.json
  packages/oas-to-har/package.json
  packages/oas-to-snippet/package-lock.json
  packages/oas-to-snippet/package.json
Labels: area:explorer, scope:dependency, type:bug

#852 feat: upgrading @readme/react-jsonschema-form to v1.2.0
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
Labels: area:explorer, scope:dependency, type:bug

#853 style(rdmd/callout): fix icon alignment
  packages/markdown/components/Callout/style.scss
Labels: area:markdown, type:bug, type:styling
