Repository readmeio/api-explorer, pull requests merged in 2020-05, with the labels that each got.

#661 Add callout icon size and weight theme variables.
  packages/markdown/components/Callout/style.scss
Labels: Markdown, Styles, enhancement

#665 style(explorer): add .markdown-body class to excerpt
  packages/api-explorer/src/Doc.jsx
  packages/api-explorer/style/markdown-overrides.scss
Labels: Markdown, bug

#664 Fix magic block callout icons alignment.
  packages/markdown/__tests__/__snapshots__/components.test.js.snap
  packages/markdown/__tests__/components.test.js
  packages/markdown/components/Callout/index.jsx
  packages/markdown/processor/parse/magic-block-parser.js
Labels: Markdown, bug

#669 Fix RDMD backwards compatible anchors.
  packages/markdown/__tests__/__snapshots__/index.test.js.snap
  packages/markdown/components/Heading/index.jsx
  packages/markdown/components/Heading/style.scss
  packages/markdown/index.js
  packages/markdown/package-lock.json
  packages/markdown/package.json
  packages/markdown/processor/plugin/section-anchor-id.js
Labels: bug, enhancement

#670 Fix RDMD lightbox bug.
  packages/markdown/__tests__/__snapshots__/components.test.js.snap
  packages/markdown/__tests__/__snapshots__/index.test.js.snap
  packages/markdown/__tests__/index.test.js
  packages/markdown/components/Image/index.jsx
  packages/markdown/components/Image/style.scss
Labels: bug

#671 RDMD CSS theming and style adjustments.
  packages/markdown/__tests__/__snapshots__/components.test.js.snap
  packages/markdown/__tests__/__snapshots__/flavored-compilers.test.js.snap
  packages/markdown/__tests__/__snapshots__/index.test.js.snap
  packages/markdown/__tests__/__snapshots__/magic-block-parser.test.js.snap
  packages/markdown/__tests__/components.test.js
  packages/markdown/__tests__/flavored-compilers.test.js
  packages/markdown/__tests__/index.test.js
  packages/markdown/components/Callout/style.scss
  packages/markdown/components/Code/style.scss
  packages/markdown/components/Embed.jsx
  packages/markdown/components/Embed/index.jsx
  packages/markdown/components/Embed/style.scss
  packages/markdown/components/Image/Lightbox.jsx
  packages/markdown/components/Image/index.jsx
  packages/markdown/components/Image/style.scss
  packages/markdown/components/Table/style.scss
  packages/markdown/dist/main.css
  packages/markdown/dist/main.js
  packages/markdown/index.js
  packages/markdown/processor/compile/embed.js
  packages/markdown/processor/parse/flavored/embed.js
  packages/markdown/processor/parse/magic-block-parser.js
  packages/markdown/styles/components.scss
  packages/markdown/styles/gfm.scss
  packages/markdown/styles/main.scss
  packages/syntax-highlighter/codemirror.jsx
Labels: Markdown, Styles, enhancement

#679 feat: nested ast processing
  packages/markdown/__tests__/__snapshots__/index.test.js.snap
  packages/markdown/__tests__/index.test.js
  packages/markdown/components/Heading/index.jsx
  packages/markdown/dist/main.js
  packages/markdown/index.js
  packages/markdown/package-lock.json
  packages/markdown/package.json
  packages/markdown/processor/plugin/plain-text.js
  packages/markdown/processor/plugin/section-anchor-id.js
  packages/markdown/processor/plugin/table-flattening.js
Labels: Markdown, enhancement

#682 Fix Firefox lightbox bug.
  packages/markdown/components/Image/Lightbox.jsx
  packages/markdown/components/Image/index.jsx
Labels: Markdown, bug

#684 fix(markdown): IE11 support
  packages/api-explorer/dist/index.js
  packages/api-explorer/webpack.config.js
  packages/markdown/__tests__/__snapshots__/components.test.js.snap
  packages/markdown/__tests__/__snapshots__/flavored-parsers.test.js.snap
  packages/markdown/components/Code/style.scss
  packages/markdown/components/CodeTabs/index.jsx
  packages/markdown/components/CodeTabs/style.scss
  packages/markdown/dist/main.css
  packages/markdown/dist/main.js
  packages/markdown/processor/parse/flavored/callout.js
  packages/markdown/webpack.config.js
Labels: bug, enhancement

#687 Fix RDMD camelCase anchor splitting.
  packages/markdown/__tests__/__snapshots__/index.test.js.snap
  packages/markdown/__tests__/index.test.js
  packages/markdown/processor/parse/flavored/callout.js
  packages/markdown/processor/plugin/section-anchor-id.js
  packages/markdown/styles/gfm.scss
Labels: Markdown, bug

#688 Fix RDMD lightbox landscape aspect ratios.
  packages/markdown/components/Image/style.scss
Labels: Markdown, bug

#696 fix: update @readme/oas-tooling to resolve a HARError bug
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/oas-to-har/package-lock.json
  packages/oas-to-har/package.json
Labels: bug

#698 chore(deps-dev): upgrading @readme/eslint-config to 3.0 and eslint to 7
  package-lock.json
  package.json
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/api-logs/package-lock.json
  packages/api-logs/package.json
  packages/http-status-codes/package-lock.json
  packages/http-status-codes/package.json
  packages/markdown-magic/package-lock.json
  packages/markdown-magic/package.json
  packages/markdown/package-lock.json
  packages/markdown/package.json
  packages/oas-extensions/.eslintrc
  packages/oas-extensions/package-lock.json
  packages/oas-extensions/package.json
  packages/oas-to-har/.eslintrc
  packages/oas-to-har/package-lock.json
  packages/oas-to-har/package.json
  packages/syntax-highlighter/package-lock.json
  packages/syntax-highlighter/package.json
  packages/variable/.eslintrc
  packages/variable/package-lock.json
  packages/variable/package.json
Labels: dependencies

#699 Fix RDMD titles' font size issue.
  packages/markdown/components/Heading/style.scss
  packages/markdown/package-lock.json
  packages/markdown/package.json
  packages/markdown/processor/plugin/section-anchor-id.js
  packages/markdown/styles/gfm.scss
Labels: Markdown, bug

#700 Better code block dark theme in response schema sidebar.
  packages/api-explorer/__tests__/ResponseSchema.test.jsx
  packages/api-explorer/src/ResponseSchema.jsx
Labels: Explorer, Markdown, bug

#598 fix: continuous reference header display
  packages/api-explorer/__tests__/block-types/ApiHeader.test.jsx
  packages/api-explorer/src/Doc.jsx
  packages/api-explorer/src/block-types/ApiHeader.jsx
  packages/api-explorer/src/block-types/Content.jsx
  packages/markdown/components/Heading/index.jsx
  packages/markdown/index.js
Labels: Markdown

#689 feat: improved har generation
  packages/api-explorer/package-lock.json
  packages/api-explorer/package.json
  packages/oas-to-har/package-lock.json
  packages/oas-to-har/package.json
  packages/oas-to-har/src/index.js
  packages/oas-to-har/src/lib/configure-security.js
Labels: enhancement

#703 style: introducing enforcement on commit messages
  CONTRIBUTING.md
  package-lock.json
  package.json
Labels: enhancement
